
.row {  margin-top: 2em;
        
        padding: auto;
        
    }


.card { 
        align-items: center;
        margin: 1em;
        padding: 0.5em;
        border-radius: 3em;
        box-shadow: 0 0 2px #ac171a;
        min-width: 23em;
        max-width: 50em;
        
    }
.card:hover {
    transition: 5ms;
    box-shadow: 0 0 5px #ac171a;
   
} 

.card-img-top { width:auto;}

